@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
}

.app.dark {
  background-color: #000000;
  color: #ffffff
}

.header-input {
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-image: url('./images/bg-mobile-light.jpg');
  min-height: 200px;
  position: relative;
  z-index: 0;
}

.header-input.dark {
  background-image: url('./images/bg-mobile-dark.jpg');

}

.icon-title {
  width: 100%; 
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  top:10px;
}

.header-input .input-field {
  padding: 30px;
  width: 100%; 
  display: grid;
  grid-template-columns: minmax(auto, 11fr) 1fr;
  align-items: baseline;
  align-self: center;
}


.input-field input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none
}

.header-input.dark input {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: hsl(235, 24%, 19%);
  color: #ffffff
}

button {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  margin-left: 5px;
  border: none;
}


.dark button {
  background-color: hsl(235, 24%, 19%);
  padding: 10px;
  border-radius: 7px;
  margin-left: 5px;
  border: none;
  color: #ffffff
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: baseline;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  margin: 1px;
  padding: 5px 2px;
  cursor: pointer;
  font-size: smaller;
}

.todo-list.dark {
  border-bottom: 1px solid hsl(240, 2%, 10%);
}

.completed {
  text-decoration: line-through;
}

.counter-elements {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: hsl(236, 9%, 61%);
  margin: 20px 10px;
}

.footer button.active {
  color: hsl(225, 53%, 55%);
  font-weight: bolder;
  font-size: 1.01rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 20px
}

.todo-lists-wrapper,
.footer {
  margin:30px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 7px;
  position: relative;
  top: -50px;
  z-index: 100;
  background-color: #ffffff;
  padding: 5px
}

.todo-lists-wrapper.dark,
.footer.dark {
  background-color: hsl(235, 24%, 19%);
}

.drag-instruction {
  padding: 0 30px;
  text-align: center;
  color: hsl(236, 9%, 61%);
  position: relative;
  top: -30px;
}

@media (min-width: 376px) and (max-width: 767px ) {
  .header-input {
    background-image: url('./images/bg-desktop-light.jpg');
  }

  .header-input.dark {
    background-image: url('./images/bg-desktop-dark.jpg');
  }

  .todo-lists-wrapper,
  .footer {
    margin: 30px 80px;
  }
  .header-input .input-field {
    padding: 30px 80px;
  }

}

@media (min-width: 768px) and (max-width: 991px ) {
  .header-input {
    background-image: url('./images/bg-desktop-light.jpg');
  }

  .header-input.dark {
    background-image: url('./images/bg-desktop-dark.jpg');
  }

  .todo-lists-wrapper,
  .footer {
    margin: 30px 180px;
  }
  .header-input .input-field {
    padding: 30px 180px;
  }

}

@media screen and (min-width: 992px) {
  .header-input {
    background-image: url('./images/bg-desktop-light.jpg');
  }

  .header-input.dark {
    background-image: url('./images/bg-desktop-dark.jpg');
  }
  .todo-lists-wrapper,
  .footer {
    margin: 30px 300px;
  }
  .header-input .input-field {
    padding: 30px 300px;
  }

}